#canvas-main {
	border: 1px solid #000000;
}

.color-picker {
	height: 40px; 
	padding: 6px 10px;
}

a {
	font-weight: bold;
}

#progress-bg {
	background-color: #aaaaaa;
	height: 3px;
}

#progress-bar {
	width: 0%;
	height: 100%;
	background-color: #007bff; /* primary */
}

.fullscreen {
	height: 100vh;
}