#canvas-main {
	border: 1px solid #000000;
}

.color-picker {
	height: 40px; 
	padding: 6px 10px;
}

a {
	font-weight: bold;
}

#progress-bg {
	background-color: #aaaaaa;
	height: 3px;
}

#progress-bar {
	width: 0%;
	height: 100%;
	background-color: #007bff; /* primary */
}

.fullscreen {
	height: 100vh;
}

/* START OF https://bootsnipp.com/snippets/featured/material-design-switch*/
.material-switch > input[type="checkbox"] {
    display: none;   
}

.material-switch > label {
    cursor: pointer;
    height: 0px;
    position: relative; 
	width: 40px;  
	background-color: orange;
}

.material-switch > label::before {
    background: rgb(0, 0, 0);
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    content: '';
    height: 16px;
    margin-top: -8px;
    position:absolute;
    opacity: 0.3;
    transition: all 0.4s ease-in-out;
    width: 40px;
}
.material-switch > label::after {
    background: rgb(255, 255, 255);
    border-radius: 16px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    content: '';
    height: 24px;
    left: -4px;
    margin-top: -8px;
    position: absolute;
    top: -4px;
    transition: all 0.3s ease-in-out;
    width: 24px;
}
.material-switch > input[type="checkbox"]:checked + label::before {
    background: inherit;
    opacity: 0.5;
}
.material-switch > input[type="checkbox"]:checked + label::after {
    background: inherit;
    left: 20px;
}
/* END OF https://bootsnipp.com/snippets/featured/material-design-switch*/